# Dependencies
client/node_modules/
server/node_modules/

# Environment variables
.env
.env.local
.env.*.local
.env.production
.env.development

# Frontend build
client/dist/
server/dist/

# Backend uploads
server/uploads/*

# Vercel
.vercel/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
