PORT=5000
MONGO_URI=mongodb+srv://vignesh1515official_db_user:8tOwri1ix8PSzL3K@projects.xqbabtx.mongodb.net/svs_real_estate
JWT_SECRET=supersecretjwtkeyforlocaldevelopment123456
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
